<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>Примерочная</title>
    <link rel="stylesheet" href="/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/skins/_all-skins.css">
    <style>
        .app-div {
            width: 650px;
            margin: 1% auto;
        }

        .video-box-body {
            background: rgba(255, 255, 255, .3);
            padding: 5px;
            border-top: 0;
            color: #666;
            border-radius: 5px;
        }

        .app-bg {
            background: url(/images/app-bg.png) center center no-repeat #d2d6de;
        }

        .navbar-brand {
            color: #ea5859;
            font-family: 'Damion', cursive;
            font-size: 24px;
            line-height: 50px;
            padding: 0;
            -webkit-transition: opacity .2s ease;
            transition: opacity .2s ease
        }
    </style>
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CDamion">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

</head>
<body class="hold-transition lockscreen app-bg">
<div class="app-div">
    <div class="video-box-body">
        <div class="lockscreen-item">
            <div class="lockscreen-name margin-top-10">
                <h3>
                    <a href="/"><span class="navbar-brand">optica.tech</span></a>
                    {{ model.title }} {{ model.text }}
                </h3>
            </div>

            <video id="v" style="display:none;" autoplay></video>
            <canvas id="c" height="480" width="640" style="border:1px;"></canvas>
            <canvas id="d" height="480" width="640" style="display:none;"></canvas>

        </div>
    </div>
</div>
<script src="/assets/vendor_components/jquery/dist/jquery.min.js"></script>
<script src="/assets/vendor_components/popper/dist/popper.min.js"></script>
<script src="/assets/vendor_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script language="JavaScript" src="/assets/vendor_components/jquery/dist/jquery.min.js"></script>
<script language="JavaScript">

    function drawToCanvas(imageData) {
        var canvas = document.getElementById("c");
        var context = canvas.getContext('2d');

        var img = new Image;
        img.onload = function () {
            context.drawImage(img, 0, 0); // Or at whatever offset you like
        };
        img.src = imageData;
    }

    // Older browsers might not implement mediaDevices at all, so we set an empty object first
    if (navigator.mediaDevices === undefined) {
        navigator.mediaDevices = {};
    }

    // Some browsers partially implement mediaDevices. We can't just assign an object
    // with getUserMedia as it would overwrite existing properties.
    // Here, we will just add the getUserMedia property if it's missing.
    if (navigator.mediaDevices.getUserMedia === undefined) {
        navigator.mediaDevices.getUserMedia = function (constraints) {

            // First get ahold of the legacy getUserMedia, if present
            var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

            // Some browsers just don't implement it - return a rejected promise with an error
            // to keep a consistent interface
            if (!getUserMedia) {
                return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
            }

            // Otherwise, wrap the call to the old navigator.getUserMedia with a Promise
            return new Promise(function (resolve, reject) {
                getUserMedia.call(navigator, constraints, resolve, reject);
            });
        }
    }

    navigator.mediaDevices.getUserMedia({audio: false, video: {facingMode: "user", width: 640, height: 480}})
        .then(function (stream) {

            var video = document.getElementById("v");
            var drc = document.getElementById("d");

            // Older browsers may not have srcObject
            if ("srcObject" in video) {
                video.srcObject = stream;
            } else {
                // Avoid using this in new browsers, as it is going away.
                video.src = window.URL.createObjectURL(stream);
            }

            var senfFunc = function () {

                var width = 640, height = 480;
                drc.width = width;
                drc.height = height;
                drc.getContext("2d").drawImage(video, 0, 0, width, height);
                var img = drc.toDataURL("image/webp");

                $.ajax({
                    url: "/app/process",
                    data: JSON.stringify({
                        model_id: 2,
                        img: img
                    }),
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (data) {
                        drawToCanvas(data);
                        senfFunc();
                    },
                    error: function (s, t) {
                        console.log("error", s, t);
                    }
                });
            };

            video.onloadedmetadata = function (e) {
                video.play();
                senfFunc();
            };
        })
        .catch(function (err) {
            console.log(err.name + ": " + err.message);
        });
</script>

</body>
</html>