<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">

    <title>Онлайн-примерочная интернет-магазина очков</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CDamion">
    <link rel="stylesheet" href="/assets/vendor_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/landing/css/styles.css">

    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><![endif]-->
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div>optica.tech</div>
</div>
<!-- // Preloader -->

<!-- Loader -->
<div id="loader">
    <div class="loadingspin"></div>
</div>
<!-- // Loader -->

<!-- NAVBAR -->
<nav id="header" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">optica.tech</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i
                    class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#home">Главная</a></li>
                <li><a href="#features">Особенности</a></li>
                <li><a href="#portfolio">Скриншоты</a></li>
                <li><a href="#prices">О проекте</a></li>
                <li><a href="#contact-form">Обратная связь</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- // NAVBAR -->

<!-- HOME -->
<div id="home" class="home-section home-app dark overlay home-bg1">
    <div class="home-table">
        <div class="home-inner">
            <div class="container">

                <div class="home-table">

                    <!-- Description -->
                    <div class="col-md-6 col-sm-8 home-app-col">

                        <h1>Оптика.TECH</h1>
                        <div class="home-app-description">
                            <p>Добавьте функционал примерочной к Вашему интернет-магазину очков, используя технологии
                                дополненной реальности. Пользователю понадобится только веб-браузер, ничего больше.</p>
                        </div>
                        <div class="home-app-markets">
                            <a href="/app/2" class="btn btn-default"><i class="fa fa-wpexplorer"></i> Демонстрация</a>
                            <a href="/admin" class="btn btn-default"><i class="fa fa-user-o"></i> Личный кабинет</a>
                        </div>

                    </div>
                    <!-- // Description -->

                    <!-- Preview -->
                    <div class="col-md-6 col-sm-4 home-app-col home-app-preview">
                        <img src="/assets/landing/img/iphone.png" alt="">
                    </div>
                    <!-- // Preview -->

                </div>

            </div>
        </div>
    </div>
</div>

<!-- // HOME -->

<!-- FEATURES -->
<div id="features" class="section grey">
    <div class="container">
        <header class="section-header">
            <h2>Особенности</h2>
        </header>
        <div class="row">
            <div class="feature-item col-md-4 col-sm-6">
                <div class="icon-block"><i class="fa fa-server"></i></div>
                <div class="content">
                    <h4>Дополненная реальность</h4>
                    <p>Превратите Ваш интернет-магазин в виртуальный выставочный зал!</p>
                </div>
            </div>
            <div class="feature-item col-md-4 col-sm-6">
                <div class="icon-block"><i class="fa fa-clock-o"></i></div>
                <div class="content">
                    <h4>Быстрый старт</h4>
                    <p>Начните использовать сервис, это займет у Вас не более 10 минут!</p>
                </div>
            </div>
            <div class="feature-item col-md-4 col-sm-6">
                <div class="icon-block"><i class="fa fa-calculator"></i></div>
                <div class="content">
                    <h4>Бесплатно и навсегда</h4>
                    <p>Сервис и его исходный код доступен бесплатно! Вы можете делать пожертвования на его развитие.</p>
                </div>
            </div>
            <div class="feature-item col-md-4 col-sm-6">
                <div class="icon-block"><i class="fa fa-picture-o"></i></div>
                <div class="content">
                    <h4>Ваш логотип</h4>
                    <p>Сделайте примерочную частью Вашего магазина, поместив Ваш логотип на страницу примерки.</p>
                </div>
            </div>
            <div class="feature-item col-md-4 col-sm-6">
                <div class="icon-block"><i class="fa fa-database"></i></div>
                <div class="content">
                    <h4>Интеграция</h4>
                    <p>Настройте автоматическую загрузку моделей из Вашей базы данных на сервис при помощи REST.</p>
                </div>
            </div>
            <div class="feature-item col-md-4 col-sm-6">
                <div class="icon-block"><i class="fa fa-internet-explorer"></i></div>
                <div class="content">
                    <h4>Только веб-браузер</h4>
                    <p>Сервис не использует никаких технологий, кроме веб-браузера, а значит доступен на большинстве
                        платформ.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // FEATURES -->

<!-- FACTS -->
<div id="facts" class="section dark overlay">
    <div class="container">
        <header class="section-header">
            <h3><span class="text-primary">Дополненная реальность</span> - новая грань Вашего бизнеса</h3>
            <div class="section-description">
                Наша задача - идти в ногу с технологиями, предоставляя пользователю
                <span class="text-primary">комфортные условия</span> для совершения покупок.
                Дайте людям чувство посещения настоящего <span class="text-primary">салона оптики</span>
                за счет технологий дополненной реальности.
            </div>
        </header>
    </div>
</div>
<!-- // FACTS -->

<!-- SCREENSHOTS -->
<div id="portfolio" class="section">
    <div class="container">
        <header class="section-header">
            <h2>Скриншоты</h2>
        </header>

        <div id="screenshots" class="owl-carousel screenshots">
            <div><a href="/assets/landing/img/screenshots/1.jpg" class="fancybox" data-fancybox-group="screenshots">
                <img src="/assets/landing/img/screenshots/1.jpg" alt=""></a></div>
            <div><a href="/assets/landing/img/screenshots/2.jpg" class="fancybox" data-fancybox-group="screenshots">
                <img src="/assets/landing/img/screenshots/2.jpg" alt=""></a></div>
            <div><a href="/assets/landing/img/screenshots/3.jpg" class="fancybox" data-fancybox-group="screenshots">
                <img src="/assets/landing/img/screenshots/3.jpg" alt=""></a></div>
            <div><a href="/assets/landing/img/screenshots/4.jpg" class="fancybox" data-fancybox-group="screenshots">
                <img src="/assets/landing/img/screenshots/4.jpg" alt=""></a></div>
        </div>
    </div>
</div>
<!-- // SCREENSHOTS -->

<!-- SUBSCRIBE -->
<div id="subscribe" class="section dark overlay">
    <div class="container">
        <header class="section-header">
            <h3>Подпишитесь на <span class="text-primary">наши группы</span> в социальных сетях</h3>
            <div class="section-description">
                <p>Следите за обновлениями нашего сервиса!</p>
            </div>
        </header>

        <!-- Form -->
        <div class="subscribe-form">
            <div class="form-group">
                <a href="https://github.com/crackoff/opticatech" class="btn btn-default"
                   style="padding: 10px; width: 55px;"><i class="fa fa-github"></i></a>
                <a href="#" class="btn btn-default" style="padding: 10px; width: 55px;">
                    <i class="fa fa-telegram"></i></a>
                <a href="#" class="btn btn-default" style="padding: 10px; width: 55px;">
                    <i class="fa fa-twitter"></i></a>
            </div>
        </div>
        <!-- // Form -->

    </div>
</div>
<!-- // SUBSCRIBE -->

<!-- PRICES -->
<div id="prices" class="section">
    <div class="container">
        <header class="section-header">
            <h2>О проекте</h2>
            <div class="section-description">
                <p class="text-left">
                    Данный сервис разрабатывается одним человеком в свободное время, и преследует следующие цели:
                </p>
                <ul class="text-left">
                    <li>Внести свой вклад в популяризацию технологий дополненной реальности в сфере интернет-торговли;
                    </li>
                    <li>Сдедать чуточку более комфортными покупки в интернет-магазинах;</li>
                    <li>Глубже изучить технологии обработки изображений.</li>
                </ul>
                <p class="text-left">Для того, чтобы снизить риски для пользователей данного сервиса, автор принял
                    решение сделать свободными его исходные коды.</p>
                <p class="text-left">Сервис доступен <span class="text-primary">бесплатно</span> всем желающим,
                    однако Вы можете сделать пожертвование на его развитие.</p>
            </div>
        </header>

        <div class="row">
            <div class="col-md-6">
                <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=buyer&targets=%D0%9D%D0%B0%20%D0%BF%D0%BE%D0%BA%D1%83%D0%BF%D0%BA%D1%83%20%D1%81%D0%B5%D1%80%D1%82%D0%B8%D1%84%D0%B8%D0%BA%D0%B0%D1%82%D0%BE%D0%B2%20SSL&targets-hint=%D0%A1%D0%B0%D0%BC%D1%8B%D0%B9%20%D0%B4%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D1%83%D1%87%D0%B8%D0%B9%20%D0%B1%D0%B0%D0%B3%20%D0%B8%D0%BB%D0%B8%20%D0%BD%D0%B5%D0%BE%D0%B1%D1%85%D0%BE%D0%B4%D0%B8%D0%BC%D0%B0%D1%8F%20%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%8C&default-sum=500&button-text=14&payment-type-choice=on&mobile-payment-type-choice=on&hint=&successURL=http%3A%2F%2Foptica.tech&quickpay=shop&account=410012214942371"
                        width="450" height="237" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
            </div>
            <div class="col-md-6">
                <p>На что пойдут деньги: </p>
                <ul>
                    <li>Покупка сертификата SSL;</li>
                    <li>Повышение тарифного плана хостинга для улучшения производительности;</li>
                    <li>Оплата труда разработчика.</li>
                </ul>
                <p>Ближайшие цели в развитии сервиса: </p>
                <ul>
                    <li>Разработка личного кабинета;</li>
                    <li>Разработка автоматического распознавания очков на фото при загрузке их в личный кабинет;</li>
                    <li>Вход при помощи Yandex, Google, vk;</li>
                    <li>Создание профилей в социальных сетях для размещения информации об обновлениях;</li>
                    <li>Улучшение основного алгоритма;</li>
                    <li>Разработка алгоритма для работы с 3D-моделями.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- // PRICES -->

<!-- CONTACT FORM -->
<div id="contact-form" class="section grey shape">
    <div class="container">
        <header class="section-header">
            <h2>Обратная связь</h2>
        </header>

        <div id="c-alert-box"></div>

        <form id="c-form" action="/contact" name="contactform" method="post">
            <div class="row contact-form">
                <div class="form-group col-md-6"><input type="text" name="name" class="form-control" placeholder="Имя">
                </div>
                <div class="form-group col-md-6"><input type="email" name="email" class="form-control"
                                                        placeholder="E-mail" required></div>
                <div class="form-group col-md-12"><input type="text" name="subject" class="form-control"
                                                         placeholder="Тема"></div>
                <div class="form-group col-md-12"><textarea class="form-control" name="message" rows="6"
                                                            placeholder="Ваше сообщение ..." required></textarea></div>

                <!-- Submit Button -->
                <div class="col-md-12 text-center">
                    <input type="submit" value="Отправить" id="submit" class="btn btn-default btn-lg">
                </div>
                <!-- // Submit Button -->

            </div>
        </form>
    </div>
</div>
<!-- // CONTACT FORM -->

<!-- FOOTER -->
<footer id="footer">
    <div class="container" style="text-align: left;">
        Copyright (c) 2017, Оптика.TECH
    </div>
    <div class="container" style="text-align: left;">Разрешается повторное распространение и использование как в виде
        исходного кода, так и в двоичной форме, с изменениями или без, при соблюдении следующих условий:
    </div>
    <div class="container" style="text-align: left;">* При повторном распространении исходного кода должно оставаться
        указанное выше уведомление об авторском праве, этот список условий и последующий отказ от гарантий.
    </div>
    <div class="container" style="text-align: left;">* При повторном распространении двоичного кода должна сохраняться
        указанная выше информация об авторском праве, этот список условий и последующий отказ от гарантий в документации
        и/или в других материалах, поставляемых при распространении.
    </div>
    <div class="container" style="text-align: left;">* Ни название Оптика.TECH, ни имена её сотрудников не могут быть
        использованы в качестве поддержки или продвижения продуктов, основанных на этом ПО без предварительного
        письменного разрешения.
    </div>
    <div class="container" style="text-align: left;">ЭТА ПРОГРАММА ПРЕДОСТАВЛЕНА ВЛАДЕЛЬЦАМИ АВТОРСКИХ ПРАВ И/ИЛИ
        ДРУГИМИ СТОРОНАМИ «КАК ОНА ЕСТЬ» БЕЗ КАКОГО-ЛИБО ВИДА ГАРАНТИЙ, ВЫРАЖЕННЫХ ЯВНО ИЛИ ПОДРАЗУМЕВАЕМЫХ, ВКЛЮЧАЯ, НО
        НЕ ОГРАНИЧИВАЯСЬ ИМИ, ПОДРАЗУМЕВАЕМЫЕ ГАРАНТИИ КОММЕРЧЕСКОЙ ЦЕННОСТИ И ПРИГОДНОСТИ ДЛЯ КОНКРЕТНОЙ ЦЕЛИ. НИ В
        КОЕМ СЛУЧАЕ НИ ОДИН ВЛАДЕЛЕЦ АВТОРСКИХ ПРАВ И НИ ОДНО ДРУГОЕ ЛИЦО, КОТОРОЕ МОЖЕТ ИЗМЕНЯТЬ И/ИЛИ ПОВТОРНО
        РАСПРОСТРАНЯТЬ ПРОГРАММУ, КАК БЫЛО СКАЗАНО ВЫШЕ, НЕ НЕСЁТ ОТВЕТСТВЕННОСТИ, ВКЛЮЧАЯ ЛЮБЫЕ ОБЩИЕ, СЛУЧАЙНЫЕ,
        СПЕЦИАЛЬНЫЕ ИЛИ ПОСЛЕДОВАВШИЕ УБЫТКИ, ВСЛЕДСТВИЕ ИСПОЛЬЗОВАНИЯ ИЛИ НЕВОЗМОЖНОСТИ ИСПОЛЬЗОВАНИЯ ПРОГРАММЫ
        (ВКЛЮЧАЯ, НО НЕ ОГРАНИЧИВАЯСЬ ПОТЕРЕЙ ДАННЫХ, ИЛИ ДАННЫМИ, СТАВШИМИ НЕПРАВИЛЬНЫМИ, ИЛИ ПОТЕРЯМИ, ПРИНЕСЕННЫМИ
        ИЗ-ЗА ВАС ИЛИ ТРЕТЬИХ ЛИЦ, ИЛИ ОТКАЗОМ ПРОГРАММЫ РАБОТАТЬ СОВМЕСТНО С ДРУГИМИ ПРОГРАММАМИ), ДАЖЕ ЕСЛИ ТАКОЙ
        ВЛАДЕЛЕЦ ИЛИ ДРУГОЕ ЛИЦО БЫЛИ ИЗВЕЩЕНЫ О ВОЗМОЖНОСТИ ТАКИХ УБЫТКОВ.
    </div>
    <div class="container" style="text-align: left; margin-top: 20px;">Исходный код данного программного обеспечения:
        <a href="https://github.com/crackoff/opticatech" target="_blank">https://github.com/crackoff/opticatech</a>
    </div>
    <div class="container" style="text-align: left;">
        Главная страница выполнена на основе шаблона от <a href="http://meethemes.com" target="_blank">
        http://meethemes.com</a>
    </div>
    <div class="container" style="text-align: left;">
        Личный кабинет выполнен на основе шаблона от <a href="http://html-templates.multipurposethemes.com"
                                                        target="_blank">http://html-templates.multipurposethemes.com</a>
    </div>
</footer>
<!-- // FOOTER -->

<!-- SCRIPTS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/assets/landing/js/bootstrap.min.js"></script>
<script src="/assets/landing/js/jquery.scrollTo.min.js"></script>
<script src="/assets/landing/js/jquery.nav.js"></script>
<script src="/assets/landing/js/jquery.parallax.js"></script>
<script src="/assets/landing/js/jquery.isotope.pkgd.min.js"></script>
<script src="/assets/landing/js/jquery.appear.js"></script>
<script src="/assets/landing/js/jquery.countTo.js"></script>
<script src="/assets/landing/js/jquery.fancybox.pack.js"></script>
<script src="/assets/landing/js/jquery.iheight.js"></script>
<script src="/assets/landing/js/jquery.superslides.min.js"></script>
<script src="/assets/landing/js/jquery.owl.carousel.min.js"></script>
<script src="/assets/landing/js/custom.js"></script>
<script>
    $(document).ready(function () {
        var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
        if (window.location.hash && isChrome) {
            setTimeout(function () {
                var hash = window.location.hash;
                window.location.hash = "";
                window.location.hash = hash;
            }, 300);
        }
    });
</script>
<!-- // SCRIPTS -->

</body>
</html>