<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">

    <title>Онлайн-примерочная интернет-магазина очков</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700%7CDamion">
    <link rel="stylesheet" href="/assets/vendor_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/landing/css/styles.css">

    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><![endif]-->
</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div>optica.tech</div>
</div>
<!-- // Preloader -->

<!-- Loader -->
<div id="loader">
    <div class="loadingspin"></div>
</div>
<!-- // Loader -->

<!-- NAVBAR -->
<nav id="header" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">optica.tech</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i
                    class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#home">Главная</a></li>
                <li><a href="#features">Функции</a></li>
                <li><a href="#portfolio">Скриншоты</a></li>
                <li><a href="#prices">Цены</a></li>
                <li><a href="#video">Видео</a></li>
                <li><a href="#contact-form">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- // NAVBAR -->

<!-- HOME -->
<div id="home" class="home-section home-app dark overlay home-bg1">
    <div class="home-table">
        <div class="home-inner">
            <div class="container">

                <div class="home-table">

                    <!-- Description -->
                    <div class="col-md-6 col-sm-8 home-app-col">

                        <h1>Онлайн примерочная очков</h1>
                        <div class="home-app-description">
                            <p>Сервис, который позволяет добавить функционал примерочной для Вашего интрнет-магазина
                                очков.</p>
                        </div>
                        <div class="home-app-markets">
                            <a href="/app/1" class="btn btn-default"><i class="fa fa-wpexplorer"></i> Демонстрация</a>
                            <a href="/admin" class="btn btn-default"><i class="fa fa-user-o"></i> Личный кабинет</a>
                        </div>

                    </div>
                    <!-- // Description -->

                    <!-- Preview -->
                    <div class="col-md-6 col-sm-4 home-app-col home-app-preview">
                        <img src="/assets/landing/img/iphone.png" alt="">
                    </div>
                    <!-- // Preview -->

                </div>

            </div>
        </div>
    </div>
</div>

<!-- // HOME -->

<!-- FEATURES -->
<div id="features" class="section grey">
    <div class="container">
        <header class="section-header">
            <h2>Функции</h2>
            <div class="section-description">
                <p>и особенности нашего сервиса</p>
            </div>
        </header>
        <div class="row">
            <div class="feature-item col-md-4 col-sm-6">
                <div class="icon-block"><i class="fa fa-server"></i></div>
                <div class="content">
                    <h4>Дополненная реальность</h4>
                    <p>Превратите Ваш интернет-магазин в виртуальный выставочный зал!</p>
                </div>
            </div>
            <div class="feature-item col-md-4 col-sm-6">
                <div class="icon-block"><i class="fa fa-clock-o"></i></div>
                <div class="content">
                    <h4>Быстрый старт</h4>
                    <p>Начните использовать сервис, это займет у Вас не более 10 минут! И все это бесплатно!</p>
                </div>
            </div>
            <div class="feature-item col-md-4 col-sm-6">
                <div class="icon-block"><i class="fa fa-picture-o"></i></div>
                <div class="content">
                    <h4>Ваш логотип</h4>
                    <p>Сделайте примерочную частью Вашего магазина.</p>
                </div>
            </div>
            <div class="feature-item col-md-4 col-sm-6">
                <div class="icon-block"><i class="fa fa-database"></i></div>
                <div class="content">
                    <h4>Интеграция с Вашими данными</h4>
                    <p>Настройте автоматическую загрузку моделей из Вашей базы данных на наш сервис.</p>
                </div>
            </div>
            <div class="feature-item col-md-4 col-sm-6">
                <div class="icon-block"><i class="fa fa-calculator"></i></div>
                <div class="content">
                    <h4>Гибкие тарифы</h4>
                    <p>Вы сами выбираете удобную для Вас модель оплаты.</p>
                </div>
            </div>
            <div class="feature-item col-md-4 col-sm-6">
                <div class="icon-block"><i class="fa fa-heart"></i></div>
                <div class="content">
                    <h4>Сделано в России</h4>
                    <p>Amet aliquam, voluptas rerum sequi quod natus! Corporis excepturi ab quia quis a quibusdam.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // FEATURES -->

<!-- FACTS -->
<div id="facts" class="section dark overlay">
    <div class="container">
        <header class="section-header">
            <h3><span class="text-primary">Дополненная реальность</span> для Вашего бизнеса</h3>
            <div class="section-description">
                Наша задача - идти в ногу с технологиями, предоставляя пользователю
                <span class="text-primary">комфортные условия</span> для совершения покупок.
                Дать людям чувство посещения настоящего <span class="text-primary">салона оптики</span>
                за счет технологий дополненной реальности.
            </div>
        </header>
    </div>
</div>
<!-- // FACTS -->

<!-- SCREENSHOTS -->
<div id="portfolio" class="section">
    <div class="container">
        <header class="section-header">
            <h2>Скриншоты</h2>
            <div class="section-description">Взгляните, как может выглядеть Ваша примерочная</div>
        </header>

        <div id="screenshots" class="owl-carousel screenshots">
            <div><a href="/assets/landing/img/screenshots/1.jpg" class="fancybox" data-fancybox-group="screenshots"><img
                    src="/assets/landing/img/screenshots/1.jpg" alt=""></a></div>
            <div><a href="/assets/landing/img/screenshots/2.jpg" class="fancybox" data-fancybox-group="screenshots"><img
                    src="/assets/landing/img/screenshots/2.jpg" alt=""></a></div>
            <div><a href="/assets/landing/img/screenshots/3.jpg" class="fancybox" data-fancybox-group="screenshots"><img
                    src="/assets/landing/img/screenshots/3.jpg" alt=""></a></div>
            <div><a href="/assets/landing/img/screenshots/4.jpg" class="fancybox" data-fancybox-group="screenshots"><img
                    src="/assets/landing/img/screenshots/4.jpg" alt=""></a></div>
            <div><a href="/assets/landing/img/screenshots/5.jpg" class="fancybox" data-fancybox-group="screenshots"><img
                    src="/assets/landing/img/screenshots/5.jpg" alt=""></a></div>
            <div><a href="/assets/landing/img/screenshots/6.jpg" class="fancybox" data-fancybox-group="screenshots"><img
                    src="/assets/landing/img/screenshots/6.jpg" alt=""></a></div>
            <div><a href="/assets/landing/img/screenshots/7.jpg" class="fancybox" data-fancybox-group="screenshots"><img
                    src="/assets/landing/img/screenshots/7.jpg" alt=""></a></div>
            <div><a href="/assets/landing/img/screenshots/8.jpg" class="fancybox" data-fancybox-group="screenshots"><img
                    src="/assets/landing/img/screenshots/8.jpg" alt=""></a></div>
        </div>
    </div>
</div>
<!-- // SCREENSHOTS -->

<!-- SUBSCRIBE -->
<div id="subscribe" class="section dark overlay">
    <div class="container">
        <header class="section-header">
            <h3>Подпишитесь на наши группы в <span class="text-primary">социальных сетях</span></h3>
            <div class="section-description">
                <p>Следите за обновлениями нашего сервиса!</p>
            </div>
        </header>

        <!-- Form -->
        <div class="subscribe-form">
            <div class="form-group">
                <a href="#" class="btn btn-default" style="padding: 10px; width: 55px;"><i class="fa fa-vk"></i></a>
                <a href="#" class="btn btn-default" style="padding: 10px; width: 55px;"><i
                        class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-default" style="padding: 10px; width: 55px;"><i
                        class="fa fa-google-plus"></i></a>
                <a href="#" class="btn btn-default" style="padding: 10px; width: 55px;"><i
                        class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-default" style="padding: 10px; width: 55px;"><i
                        class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <!-- // Form -->

    </div>
</div>
<!-- // SUBSCRIBE -->

<!-- PRICES -->
<div id="prices" class="section">
    <div class="container">
        <header class="section-header">
            <h2>Цены</h2>
            <div class="section-description">
                <p>Выберите свой тариф</p>
            </div>
        </header>

        <div class="row">
            <div class="price-item col-md-4 col-xs-12">
                <div class="price-block">
                    <h3 class="title">Бесплатно</h3>
                    <div class="amount">
                        <div class="amount-i">0&#8381;</div>
                    </div>
                    <div class="help-block">Сразу после регистрации</div>
                    <ul class="inf">
                        <li>Доступ к личному кабинету</li>
                        <li>Неограниченное количество пользователей</li>
                        <li>Размещение до 50 моделей</li>
                    </ul>
                    <div class="buy"><a href="#">Получить</a></div>
                </div>
            </div>
            <div class="price-item col-md-4 col-xs-12">
                <div class="price-block selected">
                    <h3 class="title">Гибкий</h3>
                    <div class="amount">
                        <div class="amount-i">45&#8381;<span class="promo">-10%</span></div>
                    </div>
                    <div class="help-block">За одну модель в месяц</div>
                    <ul class="inf">
                        <li>Неограниченное количетво моделей</li>
                        <li>Оплата за количество моделей в сервисе</li>
                        <li>Продвинутое управление своими коллекциями</li>
                    </ul>
                    <div class="buy"><a href="#">Купить</a></div>
                </div>
            </div>
            <div class="price-item col-md-4 col-xs-12">
                <div class="price-block">
                    <h3 class="title">Ультра</h3>
                    <div class="amount">
                        <div class="amount-i">50 000&#8381;</div>
                    </div>
                    <div class="help-block">В месяц без ограничений по числу моделей</div>
                    <ul class="inf">
                        <li>Интеграция с Вашей БД</li>
                        <li>Размещение Вашего логотипа</li>
                        <li>Возможность встроить скрипт в Ваш сайт</li>
                    </ul>
                    <div class="buy"><a href="#">Купить</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // PRICES -->

<!-- VIDEO -->
<div id="video" class="section grey shape">
    <div class="container">
        <header class="section-header">
            <h2>Видео инструкция</h2>
        </header>

        <div class="row">
            <div class="col-md-12">
                <div class="video-container">
                    <iframe src="http://player.vimeo.com/video/87701971?portrait=0&amp;color=ffffff"
                            allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // VIDEO -->

<!-- CONTACT FORM -->
<div id="contact-form" class="section">
    <div class="container">
        <header class="section-header">
            <h2>Обратная связь</h2>
        </header>

        <div id="c-alert-box"></div>

        <form id="c-form" action="/contact" name="contactform" method="post">
            <div class="row contact-form">
                <div class="form-group col-md-6"><input type="text" name="name" class="form-control" placeholder="Имя">
                </div>
                <div class="form-group col-md-6"><input type="email" name="email" class="form-control"
                                                        placeholder="E-mail" required></div>
                <div class="form-group col-md-12"><input type="text" name="subject" class="form-control"
                                                         placeholder="Тема"></div>
                <div class="form-group col-md-12"><textarea class="form-control" name="message" rows="6"
                                                            placeholder="Ваше сообщение ..." required></textarea></div>

                <!-- Submit Button -->
                <div class="col-md-12 text-center">
                    <input type="submit" value="Отправить" id="submit" class="btn btn-default btn-lg">
                </div>
                <!-- // Submit Button -->

            </div>
        </form>
    </div>
</div>
<!-- // CONTACT FORM -->

<!-- FOOTER -->
<footer id="footer">
    <div class="container">© 2017 Оптика.TECH</div>
</footer>
<!-- // FOOTER -->

<!-- SCRIPTS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/assets/landing/js/bootstrap.min.js"></script>
<script src="/assets/landing/js/jquery.scrollTo.min.js"></script>
<script src="/assets/landing/js/jquery.nav.js"></script>
<script src="/assets/landing/js/jquery.parallax.js"></script>
<script src="/assets/landing/js/jquery.isotope.pkgd.min.js"></script>
<script src="/assets/landing/js/jquery.appear.js"></script>
<script src="/assets/landing/js/jquery.countTo.js"></script>
<script src="/assets/landing/js/jquery.fancybox.pack.js"></script>
<script src="/assets/landing/js/jquery.iheight.js"></script>
<script src="/assets/landing/js/jquery.superslides.min.js"></script>
<script src="/assets/landing/js/jquery.owl.carousel.min.js"></script>
<script src="/assets/landing/js/custom.js"></script>
<!-- // SCRIPTS -->

</body>
</html>